version: '3.8'
services:
  jupyter-code-interpreter:
    image: crpi-yzbqob8e5cxd8omc.cn-hangzhou.personal.cr.aliyuncs.com/magictensor/jupyter-code-interpreter:main
    restart: always
    ports:
      - "0.0.0.0:5007:5007"
    volumes:
      - ./src:/app/src
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - py-coding-net
  jupyter-kernel:
    image: crpi-yzbqob8e5cxd8omc.cn-hangzhou.personal.cr.aliyuncs.com/magictensor/jupyter-code-interpreter-jupyter-kernel:main
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    expose:
      - "8888"
    networks:
      - py-coding-net

networks:
  py-coding-net:
    name: py-coding-net
    driver: bridge

